from sqlalchemy.orm import DeclarativeBase, mapped_column, Mapped, Session
from sqlalchemy import create_engine, select
import pandas as pd
import requests
import lxml
from bs4 import BeautifulSoup
import time
import random